.vs/
Debug/
Release/
Debug-Files/
Release-Files/
Trash-Files/
x64/
x86/
Win32/

*.suo
*.user
*.sdf
*.opensdf
*.aps
*.ilk
*.log
*.pdb
*.tlog
*.obj
*.exp
*.lib
*.idb
*.iobj
*.ipdb
*.ipch
*.opendb
*.db

ipch/
*.VC.db
*.VC.opendb

Debug-Files/*.dll
Release-Files/*.dll

*.bak
Thumbs.db